.common {
  display: inline-block;
}

.clock {
  composes: common;
  composes: fa fa-clock-o from 'font-awesome/css/font-awesome.css';
}

.question {
  composes: common;
  composes: fa fa-question-circle from 'font-awesome/css/font-awesome.css';
}
