@model ATQB.WebApp.Models.Mapping
@using ATQB.WebApp.Util.Enums

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#atqb-mapping-qb-customers option:selected').val();
            $('#atqb-mapping-qb-customers').change(qbCustomersMappingOnChangeHandler);

            qbCustomersMappingOnChangeHandler();
        });

        function qbCustomersMappingOnChangeHandler() {
            var selectedValue = $('#atqb-mapping-qb-customers option:selected').val();
            console.log(selectedValue);

            if (selectedValue == '@(QbCustomersImportFrom.Projects)') {
                $('#atqb-mapping-qb-subcustomers input')
                    .css('display', 'none')
                    .prop('checked', false);
                $('#atqb-mapping-qb-subcustomers span').html('will not be created');
            } else if (selectedValue == '@(QbCustomersImportFrom.Customers)') {
                $('#atqb-mapping-qb-subcustomers input')
                    .css('display', 'inline')
                    .prop('checked', true);
                $('#atqb-mapping-qb-subcustomers span').html('import from actiTIME projects');
            }
        }
    </script>
}

<form method="post">
    <div>
        QB Customers:
        <select id="atqb-mapping-qb-customers" asp-for="QbCustomersImportFrom">
            @foreach (var value in Enum.GetValues(typeof(QbCustomersImportFrom)).Cast<QbCustomersImportFrom>())
            {
                <option value="@(value)">import from actiTIME @(value)</option>
            }
        </select>
    </div>
    <div>
        QB Sub-Customers:
        <label id="atqb-mapping-qb-subcustomers">
            <input type="checkbox" asp-for="IsQbSubCustomersImported" /> <span>import from actiTIME projects</span>
        </label>
    </div>
    <input type="submit" value="Ok, Proceed to the First Import" />
</form>