@model ATQB.WebApp.Models.AuthInfo

<div id="atqb-login-info">
    <div id="atqb-userinfo">
        <div class="atqb-userinfo-heading">Logged in as</div>
        <div id="atqb-userinfo-username">
            @(Model.AtUser.FirstName) @(Model.AtUser.LastName) <a asp-controller="Auth" asp-action="Logout" style="text-decoration: none; color: #808080; font-size: 16px;">x</a>
        </div>
        <hr id="atqb-underline" />
    </div>
    @if (Model.IsQbConnected)
    {
        <hr id="atqb-login-info-separator"/>
        <div id="atqb-qb-login-info">
            <div class="atqb-userinfo-heading">QuickBooks Connection</div>
            <div id="atqb-qb-state">CONNECTED</div>
            <div id="atqb-qb-disconnect">( <a id="atqb-qb-disconnect-link" asp-controller="Auth" asp-action="QbDisconnect">disconnect</a> )</div>
        </div>
    }
</div>
