@section Scripts
{
    <script type="text/javascript">
        var processingRules = {
            New: 0,
            Never: 1,
            Existing: 2
        };

        // <-- AT -->
        var users = {};
        var leaveTypes = {};
        var typesOfWork = {};
        var customerProjectHierarchy = {};
        // </- AT -->

        // <-- QB -->
        var employees = {};
        var customers = {};
        var serviceItems = {};
        var incomeAccounts = {};
        // </- QB -->

        $(function () {

            $.getJSON('/Users', function (response) {
                users = response;
            });
            $.getJSON('/LeaveTypes', function (response) {
                leaveTypes = response;
            });
            $.getJSON('/TypesOfWork', function (response) {
                typesOfWork = response;
            });
            $.getJSON('/CustomerProjectHierarchy', function (response) {
                customerProjectHierarchy = response;
            });

            $.getJSON('/Employees', function (response) {
                employees = response;
            });
            $.getJSON('/Customers', function (response) {
                customers = response;
            });
            $.getJSON('/ServiceItems', function (response) {
                serviceItems = response;
            });
            $.getJSON('/IncomeAccounts', function (response) {
                incomeAccounts = response;
            });

            $('#atqb-import-prepare-btn').click(function () {
                var startDate = $('#atqb-import-start-date').val();
                var endDate = $('#atqb-import-end-date').val();

                console.log(startDate);
                console.log(endDate);

                var data = {
                    StartDate: startDate,
                    EndDate: endDate,
                    Users: users,
                    CustomerProjectHierarchy: customerProjectHierarchy
                };
                $.ajax({
                    type: 'POST',
                    url: '/Import/Diff',
                    data: JSON.stringify(data),
                    contentType: 'application/json;charset=utf8',
                    success: function (response) {
                        console.log(response);
                    }
                });
            });
            $('#atqb-import-start-btn').click(function () {
                $.getJSON('/Import/Create', function (response) {
                    console.log(response);
                });
            });
            $('#atqb-import-users-btn').click(function () {
                var data = {
                    importId: 6,
                    items: [
                        { atEntity: users[0], processingRule: processingRules.New, qbEntityId: '' },
                        { atEntity: users[1], processingRule: processingRules.Never, qbEntityId: '' },
                        { atEntity: users[2], processingRule: processingRules.Existing, qbEntityId: employees[0].Id }
                    ]
                };
                $.ajax({
                    type: 'POST',
                    url: '/Import/ImportUsers',
                    data: JSON.stringify(data),
                    contentType: 'application/json;charset=utf8',
                    success: function (response) {
                        console.log(response);
                    }
                });
            });
            $('#atqb-import-types-of-work-btn').click(function () {
                var data = {
                    importId: 6,
                    items: [
                        {
                            atEntity: {
                                id: typesOfWork[0].Id,
                                name: typesOfWork[0].Name,
                                incomeAccountId: incomeAccounts[0].Id,
                                price: incomeAccounts[0].PurchaseCost
                            },
                            processingRule: processingRules.New,
                            qbEntityId: ''
                        },
                        {
                            atEntity: {
                                id: typesOfWork[1].Id,
                                name: typesOfWork[1].Name,
                                incomeAccountId: incomeAccounts[0].Id,
                                price: incomeAccounts[0].PurchaseCost
                            },
                            processingRule: processingRules.Never,
                            qbEntityId: ''
                        },
                        {
                            atEntity: {
                                id: typesOfWork[2].Id,
                                name: typesOfWork[2].Name,
                                incomeAccountId: incomeAccounts[0].Id,
                                price: incomeAccounts[0].PurchaseCost
                            },
                            processingRule: processingRules.Existing,
                            qbEntityId: employees[0].Id
                        }
                    ]
                };
                $.ajax({
                    type: 'POST',
                    url: '/Import/ImportTypesOfWork',
                    data: JSON.stringify(data),
                    contentType: 'application/json;charset=utf8',
                    success: function (response) {
                        console.log(response);
                    }
                });
            });
            $('#atqb-import-customers-btn').click(function () {
                var data = {
                    importId: 5,
                    items: [
                        { atEntityId: customerProjectHierarchy[0], processingRule: processingRules.New, qbEntityId: '' },
                        { atEntityId: customerProjectHierarchy[1], processingRule: processingRules.Never, qbEntityId: '' },
                        { atEntityId: customerProjectHierarchy[2], processingRule: processingRules.Existing, qbEntityId: customers[0].Id }
                    ]
                };
                $.ajax({
                    type: 'POST',
                    url: '/Import/ImportTasks',
                    data: JSON.stringify(data),
                    contentType: 'application/json;charset=utf8',
                    success: function (response) {
                        console.log(response);
                    }
                });
            });
        });
    </script>
}

<div>
    <div>
        Start date <input id="atqb-import-start-date" type="text" /><br />
        End date <input id="atqb-import-end-date" type="text" /><br />
        <input id="atqb-import-prepare-btn" type="button" value="Prepare Import" /><br />
        <input id="atqb-import-start-btn" type="button" value="Start Import" /><br />
        <br />
        New actiTIME Users Detected<br />
        <input id="atqb-import-users-btn" type="button" value="Apply and Continue" />
        <br />
        New actiTIME Types Of Work Detected<br />
        <input id="atqb-import-types-of-work-btn" type="button" value="Apply and Continue" />
        <br />
        New actiTIME Customers & Projects Detected<br />
        <input id="atqb-import-customers-btn" type="button" value="Apply and Continue" />
    </div>
    <div id="atqb-import-users-to-import-container"></div>
</div>