.container {
  display: flex;
  /*background: rebeccapurple;
  border: 10px solid goldenrod;
  padding: 10px;
  font-size: 18px;
  color: white;*/
}

.container:hover {
  /*background-color: color(red l(+15%));*/
}
