@import url("../../styles/variables.css");
@import url("../../styles/colors.css");

.container {
  display: flex;
  width: 100%;
}

.leftPane {
  display: flex;
  flex-direction: column;
  width: 284px;
  background-color: var(--secondary-background-color, #f8f8f8);
}

.logo {
  padding: 40px;
}

.userMenu {
  margin-top: auto;
  margin-bottom: 65px;
  padding-left: 85px;
}

.rightPane {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: var(--primary-background-color, white);
}

.qbContainer {
  display: flex;
  flex-direction: column;
  width: 832px;
}

.userWelcome {
  margin-top: 50px;

  margin-bottom: 20px;
  font-weight: normal;
  font-size: 2em;
}

.connectionStatus {
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 18px;
  color: var(--success-color, #00b050);
}

.selectorLabel {
  margin-bottom: 36px;
  font-weight: bold;
  font-size: 18px;
}

.versionSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 55px;
}

.selectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  width: 400px;
  height: 240px;
  border: 2px solid #dfdfdf;
  border-radius: 5px;
}

.itemHeading {
  margin-top: 0;
  font-weight: bold;
  font-size: 0.9em;
}

.qboHeading {
  margin-bottom: 50px;
  composes: itemHeading;
}

.qbdHeading {
  margin-bottom: 30px;
  composes: itemHeading;
}

.connectButton {
  width: 270px;
  height: 47px;
  background-image: url('../../images/qbo-default.png');
  background-size: cover;

  &:hover {
    background-image: url('../../images/qbo-hover.png');
  }
}

.installConnector {
  margin-bottom: 26px;
  color: #067afb;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;

  &:hover {
    color: #3a96fc;
  }
}

.connectorDescription {
  width: 300px;
  text-align: center;
  font-size: 0.8em;
}

.gettingStarted {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 335px;
  color: #bfbfc9;
  font-size: 18px;
  background-color: var(--secondary-background-color);
}
