@model ATQB.WebApp.Models.AT.Auth
@{
    Layout = "_Layout";
    ViewData["Title"] = "AT Login";
}

@section Styles
{

}

<section id="root"></section>

@section Scripts
{
  <script type="text/javascript" src="/static/vendor.bundle.js"></script>
  <script type="text/javascript" src="/static/at_login.js"></script>
}
