@{
    ViewData["Title"] = "QB Login";
}

@* TODO: Place styles to separate file *@
@section Styles
{

}

<div id="root"></div>

@section Scripts
{
<script type="text/javascript" src="/static/vendor.bundle.js"></script>
<script type="text/javascript" src="/static/qb_login.js"></script>
}
