:root {
  --primary-color: black;
  --secondary-color: #7d7d7d;
  --component-color: #067afb;

  --primary-background-color: white;
  --secondary-background-color: #f8f8f8;

  --fail-color: red;
  --success-color: #00b050;
}
