@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url("sanitize.css/lib/sanitize.css");
@import url("./variables.css");
@import url("./colors.css");

html,
body {
  height: 100%;
}

:global(#root) {
  display: flex;
  height: 100vh;
}

:global(.muted-text) {
  color: var(--secondary-color, #7d7d7d);
}

:global(.error) {
  color: var(--fail-color, red);
  font-size: 0.9em;
}
