@import url("../../styles/variables.css");
@import url("../../styles/colors.css");

.container {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 130px;
  width: 666px;
}

.heading {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 2rem;
}

.subHeading {
  margin-bottom: 55px;
  font-size: 1.5rem;
}

.loginForm {
  width: 585px;
}

.urlLabel {
  display: block;
  margin-bottom: 12px;
  font-size: 1rem;
}

.urlInput {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  height: 48px;
  outline: 0;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: white;
}

.urlInput:disabled {
  background-color: color(#bfbfbf l(+15%));
  color: #5c5c5c;
}

.urlError {
  min-height: 36px;
}

.credentials {
  margin-bottom: 50px;
}

.credentialsRow {
  display: flex;
  align-items: center;
}

.credentialsErrorRow {
  padding-left: 86px;
  min-height: 22px;
  composes: credentialsRow;
}

.credentialsLabel {
  display: block;
  width: 86px;
}

.credentialsInput {
  margin-bottom: 0;
  width: 265px;
  font-size: 1rem;
  composes: urlInput;
}

.loginButton {
  margin-left: auto;
  width: 170px;
  height: 48px;
  composes: primaryButton from '../../styles/buttons.css';
}

.dashedLine {
  margin: 0;
  margin-bottom: 24px;
  border: 0;
  border-bottom: 2px dashed #bfbfbf;
}

.forgotPassword {
  font-size: 14px;
  color: var(--secondary-color);
}

:global(#root) {
  background-color: var(--secondary-background-color, #f8f8f8);
}
