@{
    ViewData["Title"] = "Home Page";
}

<section id="root"></section>

@section Scripts
{
  <script type="text/javascript" src="/static/vendor.bundle.js"></script>
  <script type="text/javascript" src="/static/application.js"></script>
}
