{
  "extends": "stylelint-config-standard",
  "rules": {
    "font-family-name-quotes": "always-where-recommended",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ],
    "indentation": 2
  }
}
